*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;  display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    background-color: rgb(255, 255, 255);
}


.progressbar{
    height: 2px;
    background-color: red;
    animation: load 0.5s ease-in-out  1 normal ;
}

@keyframes load {
    0%{
        width: 0;
    }
    50%{
        width: 80vw;
    }
    100%{
        width: 100vw;
    }
}

header{
    display: flex;
    background-color: black;
    color: white;
    align-items: center; 
    justify-content: space-between;
}

button{
    background-color: #dc9b38; 
    color: black;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px  #db8b13;
}
button:hover{
    font-size: 1.2rem;
    color: white;
    box-shadow: 0 0 20px  #db8b13;
}
@media (max-width: 700px) {
    button{
        font-size: 0.7rem;
        padding: 5px 10px;
    }
    button:hover{
        font-size: 0.9rem;
    }
    
}
.image img {
    width: auto; 
    height: 60px;
    padding: 2%;
}

#clockcontainer{
    margin: auto;
    position: relative;
    height: 40vw;
    width: 40vw;
   background-image: url("clock1.png");
   background-size: 100%;
   background-repeat: no-repeat;
}
#hour, #minute, #second{
    position : absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
} 

#hour{
    height: 20%;
    width: 1.3%;
    top: 21.5%;
    left: 49.9%;
    opacity: 0.8;

}

#minute{
    height: 23%;
    width: 1%;
    top: 18.5%;
    left: 49.9%;
    opacity: 0.8;
}

#second{
    height: 26%;
    width: 0.6%;
    top: 15.5%;
    left: 49.9%;
    opacity: 0.8;
}

#digitalClock {
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    background-color: white;
    font-family :'Times New Roman', Times, serif;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    height: 8vh;
    justify-content: center;
    align-items: center;

}


